<?xml version="1.0" encoding="utf-8"?>
<Sql>
	<DbTool>
    <DbConfigSet>
      <QueryDbConfig>
      <![CDATA[
      SELECT  A.DB_CONFIG_ID,
          A.DB_CONFIG_CODE,
          A.DB_CONFIG_NAME,
          A.DB_TYPE,
          A.SERVER_IP,
	        A.PORT_NO,
	        A.SCHEMA_NAME,
	        A.LOGIN_TYPE,
          A.DB_NAME,
          A.USER_NAME,
          A.USER_PASSWORD,
          A.TYPE_DESC,
          A.SORT_ID,
          A.REMARK,
          A.CREATE_TIME,
          A.CREATOR_ID,
          A.CREATOR,
          A.MODIFIER_ID,
          A.MODIFIER,
          A.LAST_UPDATED_TIME,
          A.IS_ENABLED,
          A.IS_SYSTEM,
          A.ORG_ID,
          A.UPDATE_CONTROL_ID,
          A.TFLAG,
          '0' AS IS_SELECTED
      FROM    WH_BD_DB_CONFIG A
      WHERE   1=1 
	      AND A.DB_CONFIG_ID = '#DB_CONFIG_ID#'
        AND A.DB_TYPE = '#DB_TYPE#'
        AND A.DB_CONFIG_CODE LIKE '%#DB_CONFIG_CODE#%'
        AND A.DB_NAME LIKE '%#DB_NAME#%'
      ]]>
        <SQLite>
          <![CDATA[
      SELECT  A.DB_CONFIG_ID,
          A.DB_CONFIG_CODE,
          A.DB_CONFIG_NAME,
          A.DB_TYPE,
          A.SERVER_IP,
	        A.PORT_NO,
	        A.SCHEMA_NAME,
	        A.LOGIN_TYPE,
          A.DB_NAME,
          A.USER_NAME,
          A.USER_PASSWORD,
          A.TYPE_DESC,
          A.SORT_ID,
          A.REMARK,
          STRFTIME(A.CREATE_TIME) AS CREATE_TIME,
          A.CREATOR_ID,
          A.CREATOR,
          A.MODIFIER_ID,
          A.MODIFIER,
          STRFTIME(A.LAST_UPDATED_TIME) AS LAST_UPDATED_TIME,
          A.IS_ENABLED,
          A.IS_SYSTEM,
          A.ORG_ID,
          A.UPDATE_CONTROL_ID,
          A.TFLAG,
          '0' AS IS_SELECTED
      FROM    WH_BD_DB_CONFIG A
      WHERE   1=1 
	      AND A.DB_CONFIG_ID = '#DB_CONFIG_ID#'
        AND A.DB_TYPE = '#DB_TYPE#'
        AND A.DB_CONFIG_CODE LIKE '%#DB_CONFIG_CODE#%'
        AND A.DB_NAME LIKE '%#DB_NAME#%'
      ]]>
        </SQLite>
      </QueryDbConfig>
		</DbConfigSet>
	</DbTool>
</Sql>