<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <!--数据库工具-->
		<!--基础数据-->
    <component id="IDDBConfigSet" service="Breezee.WorkHelper.DBTool.IDAC.IDDBConfigSet, Breezee.WorkHelper.DBTool.IDAC"
               type="Breezee.WorkHelper.DBTool.DAC.SQLite.DDBConfigSet,  Breezee.WorkHelper.DBTool.DAC.SQLite" />
	</components>
</configuration>