<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <!--数据库工具-->
		<!--基础数据-->
		<!--<component id="IUCAssementItemSet" service="Peach.CarSale.UsedCar.INF.Base.IUCAssementItemSet, Peach.CarSale.UsedCar.INF" type="Peach.CarSale.UsedCar.BUS.Base.BUCAssementItemSet,  Peach.CarSale.UsedCar.BUS" />-->
	</components>
</configuration>